<a href="https://colab.research.google.com/github/asmagubara/asma-project-colab-1-/blob/main/Bonus_exercsies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2 + 2

4

strings:

In [ ]:
#wokring with strings
sentence1='Today is 6th October, 2022, Thursday.'
print(sentence1)
print(sentence1[0])
print(sentence1[0:5])
print(sentence1[4:])
print(sentence1*2)

Today is 6th October, 2022, Thursday.
T
Today
y is 6th October, 2022, Thursday.
Today is 6th October, 2022, Thursday.Today is 6th October, 2022, Thursday.

In [ ]:
#use of type() function in python â€“The type () function is used to get the type of an object
x=5
y=3.14
z=0.2+3j
word='hello'
sentence='Today is Thursday'

print(type(x))
print(type(y))
print(type(z))
print(type(word))
print(type(sentence))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>

Input() function:

In [ ]:
#use input() function to work with their user defined variables
print('Please Enter the side of a square:')
side=int(input())
print('Sides of the square=',side)
print('The area of a square with side '+str(side) + ' units= '+ str(side**2)+ ' sq units')

Please Enter the side of a square:
10
Sides of the square= 10
The area of a square with side 10 units= 100 sq units

To find the raduis of a cicle

In [ ]:
PI=3.142
print('Enter the radius of circle:')
r=int(input())

print('The area of the circle with radius '+str(r)+' units=: '+str(PI*r**2)+' sq units')

Enter the radius of circle:
6
The area of the circle with radius 6 units=: 113.112 sq units

Arithmetic Operations: 

addition subtraction multipliction division modulas(percentage) power

In [2]:
#get 2 numbers from the user
print ('Enter 2 numbers')
a=int(input())
b=int(input())

Enter 2 numbers
45
5

In [3]:
#calculate and print the results
print('The addition of '+str(a)+' and '+str(b)+' is '+str(a+b))

The addition of 45 and 5 is 50

In [4]:
print('The substraction of '+str(a)+' and '+str(b)+' is '+str(a-b))

The substraction of 45 and 5 is 40

In [5]:
print('The multiplication of '+str(a)+' and '+str(b)+' is '+str(a*b))

The multiplication of 45 and 5 is 225

In [6]:
print('The division of '+str(a)+' and '+str(b)+' is '+str(a/b))

The division of 45 and 5 is 9.0

In [7]:
print('The modulus of '+str(a)+' and '+str(b)+' is '+str(a%b))

The modulus of 45 and 5 is 0

In [8]:
print('The power of '+str(a)+' and '+str(b)+' is '+str(a**b))

The power of 45 and 5 is 184528125

Logical operation: 

and, or, not

In [12]:
x = True
y = False
print('x and y is',x and y)

x and y is False

Identity operators:

 is and is not

In [13]:
x1 = 5
y2 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output : false
print(x1 is not x2)

# Output : True
print(x2 is y2)

# Output : False
print(x3 is y3)

True
True
False

Conditional operators:
 Write a program to find that your age is eligible for voting or no

In [ ]:
age = 19
if age >= 18:
  print('You are old enough to vote!')

 write a program to print a number only if its positive

In [14]:
a=-5
if a>0:
  print(a)

 Take two numbers from the user, compare and print the smaller number

In [16]:
print("Enter 1st number")
a=int(input())
print("Enter 2nd number")
b=int(input())

if a<b:
  print(a,'is smaller than',b)
else:
  print(b,'is smaller than',a)

Enter 1st number
7
Enter 2nd number
1
1 is smaller than 7

program 6:

In [17]:
#list of flowers
flowers=['rose','daisy','tulip']
#print the list of the flowers 
print(flowers)

#Access basics of the list
print(flowers[0])
print(flowers[1])
print(flowers[2])

#replace the s element of the list
flowers[0]='Camellia'
print(flowers)

#Add an element at the end of the list use append() function
flowers.append('liily')
print(flowers)

#insert elemnts in  the list use insert() function
flowers.insert(0,'Sunflower')
flowers.insert(3,'Hibiscus')
print(flowers)

#Remove element in the list using value
print(flowers)
flowers.remove('Sunflower')
print(flowers)

#Remove list element in the list using pop() function
popped=flowers.pop()
print(flowers)

#print the popped element
print(popped)

#sort list in alphabetical order
print(flowers)
flowers.sort()
print(flowers)

['rose', 'daisy', 'tulip']
rose
daisy
tulip
['Camellia', 'daisy', 'tulip']
['Camellia', 'daisy', 'tulip', 'liily']
['Sunflower', 'Camellia', 'daisy', 'Hibiscus', 'tulip', 'liily']
['Sunflower', 'Camellia', 'daisy', 'Hibiscus', 'tulip', 'liily']
['Camellia', 'daisy', 'Hibiscus', 'tulip', 'liily']
['Camellia', 'daisy', 'Hibiscus', 'tulip']
liily
['Camellia', 'daisy', 'Hibiscus', 'tulip']
['Camellia', 'Hibiscus', 'daisy', 'tulip']

Dictionary: write a program to create a dictionary comprimising of name, id, course.

In [18]:
student={'Name':'Katrina Kaif','id':12,'course':'creative computing'}
print(student)
print(student['Name'])
print(student['id'])
print(student['course'])

{'Name': 'Katrina Kaif', 'id': 12, 'course': 'creative computing'}
Katrina Kaif
12
creative computing

While loop:

write a program to print numbers from 1 to 10 using while loop.

In [19]:
#ysung while loop, print 1 to 10
count=1
while count<=10:
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

another way to add +1 count

In [20]:
count=1
while count<=10:
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10

While loop-break program 2: write a program that asks the user about places they love to visit. We can stop the while loop in the program by calling break as soon as the user enters the 'quit' value.

In [21]:
city_name='\nEnter the name of the counrty you would like the visit:'
city_name+='\nEnter quit once you finish'
while True:
  city=input(city_name)
  if city=='quit':
    break
  else:
    print('I would love to go to', city.title(),'!')

Enter the name of the counrty you would like the visit:
Enter quit once you finishparis
I would love to go to Paris !

Enter the name of the counrty you would like the visit:
Enter quit once you finishtokyo
I would love to go to Tokyo !

Enter the name of the counrty you would like the visit:
Enter quit once you finishunited kingdom
I would love to go to United Kingdom !

Enter the name of the counrty you would like the visit:
Enter quit once you finishquit

For loop: Program 4:create a list of flowers with atleast 4 flowers. write a program to print the all elements in the list datatype using for loop.

In [22]:
flowers=['daisy','tulip','lilly']
for flower in flowers:
  print(flower)

daisy
tulip
lilly

Program 5: create a dictionary data-type of a student with name,id and coursee. write a program to use all items,keys and values in the dictionary variable using a loop.

In [24]:
student = {'name': 'Anglina Jolie', 'id':10, 'course':'BSC CC'}
print('Display key-value pairs')
for key, value in student.items(): #reads all times
 print(f"Key: {key}")
 print(f"Value: {value}")

 
student['gender']= 'Male'  #adding gender=Male
print(student)

Display key-value pairs
Key: name
Value: Anglina Jolie
Key: id
Value: 10
Key: course
Value: BSC CC
{'name': 'Anglina Jolie', 'id': 10, 'course': 'BSC CC', 'gender': 'Male'}

Program:7 make a list of the students with name, id and course and gender. Use for loop to print your list.

In [ ]:
sandwich_orders = ['dynamite chicken','kababb','cheese','fillet']
finished_sandwiches = []

while sandwich_orders:
  current_sandwich = sandwich_orders.pop()
  print("I made your " + current_sandwich + " sandwich.")
  finished_sandwiches.append(current_sandwich)

print("\n")
print('Sandwich Oders:')
for sandwich in finished_sandwiches:
  print(sandwich,'Sandwich')

In [25]:
#function definition
def greet_user():
    print("Hello!") #Display a simple greeting. Focus on intented lines
greet_user() #function call

Hello!

Program 1:

In [26]:
#function definition with two parameters
def make_shirt(size,messege):
#display inforamtion about a student 
  print(f"\nThe size of the shirt is {size} and messege to be printed is {messege.upper()}")
make_shirt(35, 'the colors are bright')    #function call wth two arguments

The size of the shirt is 35 and messege to be printed is THE COLORS ARE BRIGHT