<a href="https://colab.research.google.com/github/asmagubara/asma-project-colab-1-/blob/main/Session_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arithmetic Operations:
addition
subtraction
multipliction
division
modulas(percentage)
power

In [ ]:
#get 2 numbers from the user
print ('Enter 2 numbers')
a=int(input())
b=int(input())

Enter 2 numbers
45
5

In [ ]:
#calculate and print the results
print('The addition of '+str(a)+' and '+str(b)+' is '+str(a+b))

The addition of 45 and 5 is 50

In [ ]:
print('The substraction of '+str(a)+' and '+str(b)+' is '+str(a-b))

The substraction of 45 and 5 is 40

In [ ]:
print('The multiplication of '+str(a)+' and '+str(b)+' is '+str(a*b))

The multiplication of 45 and 5 is 225

In [ ]:
print('The division of '+str(a)+' and '+str(b)+' is '+str(a/b))

The division of 45 and 5 is 9.0

In [ ]:
print('The modulus of '+str(a)+' and '+str(b)+' is '+str(a%b))

The modulus of 45 and 5 is 0

In [ ]:
print('The power of '+str(a)+' and '+str(b)+' is '+str(a**b))

The power of 45 and 5 is 184528125

Logical operation: and, or, not

In [ ]:
x = True
y = False

print('x and y is',x and y)

Identity operators: is and is not

In [ ]:
x1 = 5
y2 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output : false
print(x1 is not x2)

# Output : True
print(x2 is y2)

# Output : False
print(x3 is y3)

True
True
False

Conditional operators: Write a program to find that your age is eligible for voting or no

In [ ]:
age = 19
if age >= 18:
  print('You are old enough to vote!')

You are old enough to vote!

Condidtional = else

In [ ]:
age = 17
if age >= 18:
  #Executes if true
  print("You are old enough to vote!")
  else:
    #Executes if false
    print("Sorry, you are too young to vote.")

SyntaxError: ignored

min : minimum

In [ ]:
#Declare two numbers in two variables
a, b = 10, 20
# Copy value of a in min if a < b else copy b
min=a
if a<b:
 min=a
else:
 min=b
print ('The minimum value is '+str(min))

The minimum value is 10

if-else chain statement:

In [ ]:
print('Enter your age')
age=int(input())

if age < 4:
  print("Your admission cost is $0.")
elif age < 18:
  print("Your admission cost is $25.")
else:
  print("Your admission cost is $40.")

Enter your age
20
Your admission cost is $40.

Operations : in and not in in a list

In [ ]:
#Declare two variables named a and b
a = 24
b = 20
list = [10,20,30,40,50]

if (a not in list):
  print("a is NOT prsent in the list")
  #24 is not given in the sequence so print
 else
  print('a is in list') 

  if (b in list)
  print('b is present in given list')

IndentationError: ignored

modifying elements in a list:

In [ ]:
countries = ["Turkey", "Morraco", "California"] #string list
countries[0] = "France" #The first element is replaced by france
print(countries)

['France', 'Morraco', 'California']

Exercise